<div class="news-section">
    <div class="news-section-header">{{header}}</div>
    <app-quill-text-editor (htmlChanged)="htmlChanged($event)"
        [initialHtml]="html">

    </app-quill-text-editor>

    <form [formGroup]="form">
        <mat-form-field>
            <mat-label>publisher</mat-label>
            <input type="text"
                matInput
                formControlName="publisher">
        </mat-form-field>

        <mat-form-field>
            <mat-label>author</mat-label>
            <input type="text"
                matInput
                formControlName="author">
        </mat-form-field>

        <mat-form-field>
            <mat-label>date published</mat-label>
            <input matInput
                formControlName="datePublished"
                [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix
                [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div class="buttons">
            <button mat-raised-button
                (click)="onSubmit()">submit</button>
        </div>

    </form>

</div>
