<app-icon-submenu></app-icon-submenu>
<main>

    <div class="iframes">
        @for(href of hrefs; track href) {
        <app-iframe [href]="href"></app-iframe>
        <!-- <div class="iframe">
            @if(isLoading) {
            <div class="spinner-overlay">
                <mat-spinner></mat-spinner>
            </div>
            }

            <iframe [src]="href"
                (load)="onIframeLoad()"
                frameborder="0"></iframe>

        </div> -->
        }
    </div>
</main>
