<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title style="color:white">line up</mat-panel-title>
    </mat-expansion-panel-header>

    @for(bandMember of bandMembers;track bandMember){
    <div class="band-member">
        <div class="band-member-name">{{bandMember.name}}</div>
        <div class="instruments">
            @for(instrument of bandMember.instruments; track instrument) {
            <div class="instrument">{{instrument}}</div>
            }
        </div>
    </div>
    }

</mat-expansion-panel>
