.visitor-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    grid-template-areas:
        "top top top"
        "middle-left middle-right middle-right";
    // "bottom-left bottom-middle bottom-right";
    app-logo {
        grid-area: top;
    }

    app-news-bands-list {
        grid-area: middle-left;
    }

    app-visitor-band {
        grid-area: middle-right;
    }
    app-visitor-news {
        grid-area: middle-right;
    }
}
