<div class="visitor-container">
    <div class="logo"
        #top>
    </div>

    <app-logo></app-logo>

    <div class="v-middle">

        <app-news-bands-list></app-news-bands-list>

        <div class="content"
            #topContent>
            @if(!uiStore.showNews()) {

            <app-visitor-band></app-visitor-band>
            }

            @if(uiStore.showNews()) {

            <app-visitor-news></app-visitor-news>
            }
            <div class="button-container">
                <button mat-button
                    (click)="onScrollToTop()">top</button>
            </div>
        </div>
    </div>
</div>
