.visitor-container {
    .v-middle {
        display: grid;

        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        // grid-template-columns: 350px 1fr;
        gap: 1rem;
        app-news-band-list {
            // min-width: 350px;
        }
        .content {
            grid-column: span 2;
            // border: 3px solid yellow;
            app-visitor-band {
                width: 100%;
            }
            app-visitor-news {
            }
        }
    }
    .button-container {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        button {
            background-color: var(--o-crimson);
            width: 6rem;
        }
    }
}
