<main #top
    class="landing-page">
    <app-logo></app-logo>


    <div class="content"
        #topContent>
        @if(!uiStore.showNews()) {

        <app-visitor-band></app-visitor-band>
        }
        @if(uiStore.showNews()) {

        <app-visitor-news></app-visitor-news>
        }
        <div class="button-container">
            <button mat-button
                (click)="onScrollToTop()">top</button>
        </div>
    </div>

    <app-visitor-tour-periods></app-visitor-tour-periods>
    <app-bands-list></app-bands-list>

</main>
