.visitor-container {
    display: grid;
    gap: 1rem;
    grid-template-areas:
        "top"
        "middle";
    app-logo {
        grid-area: top;
    }

    .components {
        grid-area: middle;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}
