<main>
    <div class="anouncement">

        <div class="header">{{anouncement?.header}}</div>
        @if(anouncement?.oImages && anouncement?.oImages.length > 0) {

        <div class="o-images">
            @for(oImage of anouncement?.oImages; track oImage){
            <div class="o-image">
                <img [src]="oImage.imagePath"
                    alt="">
                <div class="photographer-name">photo by:&nbsp;{{oImage.photographerName}}</div>
            </div>
            }
        </div>
        }
        @if(anouncement?.body) {
        <div class="body"
            [innerHTML]="anouncement?.body"></div>
        }



        <div class="band-members">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>line up </mat-panel-title>
                    <mat-panel-description></mat-panel-description>
                </mat-expansion-panel-header>

                @for(bandMember of bandMembers;track bandMember) {
                <div class="band-member">

                    <div class="band-member-name">{{bandMember.name}}</div>
                    <div class="instruments">
                        @for(instrument of bandMember.instruments; track instrument) {
                        <div class="instrument">{{instrument}}</div>
                        }
                    </div>
                </div>

                }
            </mat-expansion-panel>
        </div>

        <div class="reviews">
            @for(review of anouncement?.reviews; track review) {
            <div class="review">
                <div class="review-body"
                    [innerHTML]="review.body"></div>
                <div class="author">{{review.author}}</div>
                <div class="published-by">{{review.publishedBy}}</div>
            </div>
            }
        </div>
    </div>
</main>
