<form [formGroup]="bandForm">
    <mat-form-field>
        <mat-label>sequential number</mat-label>
        <input type="number"
            formControlName="seqNr"
            matInput>
    </mat-form-field>

    <mat-form-field>
        <mat-label>initiator</mat-label>
        <input type="text"
            matInput
            formControlName="initiator">
    </mat-form-field>

    <mat-form-field>
        <mat-label>band name</mat-label>
        <input type="text"
            matInput
            formControlName="name">
    </mat-form-field>


    <mat-label>Visible</mat-label>
    <mat-checkbox matInput
        formControlName="visible">Is visible</mat-checkbox>


    <div class="buttons">
        <button mat-raised-button
            (click)="onAddOrUpdateBand()">{{!editmode ? 'add':'update'}}&nbsp;band</button>
        <button mat-raised-button
            (click)="onCancel()">cancel</button>
    </div>
</form>
