<div class="visitor-component-container">
    <div class="visitor-header">tour periods</div>
    @for(period of tourPeriods; track period) {
    @if(period.visible || uiStore.showHidden()) {
    <div class="tour-period">
        <div class="left">
            <div class="dates">
                <div class="start-date">{{period.startDate.seconds*1000|date}}</div>-
                <div class="end-date">{{period.endDate.seconds*1000|date}}</div>
            </div>
            <div class="band-name">{{period.bandName}}</div>
        </div>

        @if(authStore.isLoggedIn() && uiStore.showHidden()){
        <div class="visibility">
            @if(period.visible) {
            <mat-icon>visibility</mat-icon>
            } @else {
            <mat-icon style="color:black">visibility_off</mat-icon>
            }
        </div>
        }

    </div>
    }

    }
</div>
