<main>

    <div class="band-members">
        @for(member of bandMembers;
        track member.id;
        let index = $index;
        let first = $first;
        let last = $last) {
        <div class="band-member">
            <div class="move">

                @if(!first) {

                <mat-icon (click)="onMove(index,'up')">keyboard_arrow_up</mat-icon>
                }@else {
                <mat-icon style="visibility:hidden;">home</mat-icon>
                }
                @if(!last){
                <mat-icon (click)="onMove(index, 'down')">keyboard_arrow_down</mat-icon>
                }
            </div>
            <div class="name_instruments">
                <div class="name">{{member.name}}</div>
                <div class="instruments">
                    @for(instrument of member.instruments; track instrument) {
                    <div class="instrument">
                        {{instrument}}
                    </div>
                    }
                </div>
            </div>

            <button mat-icon-button
                (click)="onRemoveBandMember(member.id)">
                <mat-icon>delete_forever</mat-icon>
            </button>

        </div>
        }


    </div>
    <div class="buttons">

        <app-musician-selector [musicianType]="'band member'"
            (musicianIdSelected)="musicianIdSelected($event)"></app-musician-selector>
        <button mat-raised-button
            (click)="onSelectBandMembers()">select bandmembers</button>
        <button mat-raised-button
            (click)="onBandMembersTable()">bandmembers table</button>
        <button mat-raised-button
            color="primary"
            (click)="onCancel()">cancel (back to band)</button>
    </div>

</main>
