main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    .left {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .band-members {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 1rem;
    }
}
