mat-expansion-panel {
    background-color: var(--o-crimson);
    mat-expansion-panel-header {
        text-transform: uppercase;
    }
    .iframes {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        .iframe-container {
            // border: 3px solid green;
            display: flex;
            justify-content: center;
            app-iframe {
                width: 100%;
                margin: auto;
            }
        }
    }
}
