@if(visibleOAudios > 0 || authStore.isLoggedIn()) {
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>audio video </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="iframes">

        @for(oAudio of uiStore.bandOAudios() ;track oAudio) {
        @if(uiStore.showHidden() && authStore.isLoggedIn()){

        <app-visibility-eyes [visible]="oAudio.visible"></app-visibility-eyes>
        }

        @if(authStore.isLoggedIn() || oAudio.visble){
        <app-iframe [code]="oAudio.code"></app-iframe>
        }

        }
    </div>

</mat-expansion-panel>
}
