main {
    padding: 1rem;

    .bands {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 0.3rem;
        .band {
            background-color: var(--o-crimson);
            color: var(--o-snow);
            border: 1px solid var(--o-black);
            padding: 0.3rem 0.5rem;
            display: flex;
            justify-content: space-between;
            .left {
                display: flex;
                flex-direction: column;
                .name_visible {
                    align-items: center;
                    display: flex;
                    gap: 1rem;
                    .name {
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                }
            }
            .buttons {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                align-items: center;
                // flex-direction: column;
            }
        }
    }
}
