<main>
    <div class="o-audios">
        @for(oAudio of oAudios;track oAudio; let index = $index; let first = $first; let last = $last){
        <div class="o-audio">

            <div class="left">
                <div class="visible">
                    <app-visibility-eyes [visible]="oAudio.visible"></app-visibility-eyes>
                    <!-- @if(!oAudio.visible){
                    <mat-icon>visibility_off</mat-icon>
                    }
                    @if(oAudio.visible) {
                    <mat-icon>visibility</mat-icon>
                    } -->
                </div>

                <div class="title_comments">
                    @if(oAudio.title) {
                    <div class="title">{{oAudio.title}}</div>
                    }
                    @if(oAudio.comments){
                    <div class="comments">{{oAudio.comments}}</div>
                    }
                </div>
                <!-- @if(oAudio.code){
                    <div class="code"
                    [innerHTML]="oAudio.code">{{oAudio.code}}</div>
                    } -->
            </div>

            <div class="buttons">
                <div class="move">
                    @if(!first) {
                    <button mat-icon-button
                        (click)="onMove(index, 'up')">

                        <mat-icon>keyboard_arrow_up</mat-icon>
                    </button>
                    }
                    @if(!last) {
                    <button mat-icon-button
                        (click)="onMove(index, 'down')">
                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </button>
                    }
                </div>
                <div class="edit_delete">
                    <button mat-icon-button
                        (click)="onEdit(index)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button
                        (click)="onDelete(index)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        }
    </div>

    <form [formGroup]="oAudioForm">
        <mat-form-field>
            <mat-label>title</mat-label>
            <input type="text"
                matInput
                formControlName="title">
        </mat-form-field>
        <mat-form-field>
            <mat-label>comments</mat-label>
            <textarea formControlName="comments"
                rows="8"
                matInput></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label>code</mat-label>
            <textarea matInput
                rows="8"
                formControlName="code"></textarea>
        </mat-form-field>
        <mat-checkbox formControlName="visible">visible</mat-checkbox>
        <div class="buttons">
            <button mat-raised-button
                (click)="onAddOrEditAudio()"
                [disabled]="oAudioForm.invalid">{{!editmode ?'add': 'update' }}&nbsp;audio</button>
            <button mat-raised-button
                (click)="onCancel()">cancel (back to band)</button>
        </div>
    </form>
</main>
