main {
    padding: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 3fr 1fr;
    .o-audios {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        .o-audio {
            background-color: var(--o-gravel);
            color: white;
            padding: 1rem;
            // align-self: flex-start;
            display: flex;
            gap: 1rem;
            justify-content: space-between;
            align-self: flex-start;
            .left {
                display: flex;
                gap: 1rem;
                align-items: center;
                .visible {
                    // border: 3px solid red;
                }
                .title {
                    word-break: break-word;
                    // border: 3px solid red;
                }
                .comments {
                    // border: 3px solid red;
                }
                // justify-content: space-between;
            }
            .buttons {
                display: flex;

                gap: 1rem;
            }
        }
    }
    form {
        min-width: 350px;
    }
}
