<main>
    <div class="primary band-property">
        <button mat-raised-button
            class="primary-btn"
            (click)="onPrimary()">primary
        </button>
        <div class="seq-nr"><span>Seq. nr:&nbsp;</span>{{band?.seqNr}}</div>
        <div class="initiator"><span>initiator:</span>&nbsp;{{band?.initiator}}</div>
        <div class="name"><span>name:&nbsp;</span>{{band?.name}}</div>
        <div class="visible"><span>visible:&nbsp;</span>{{band?.visible}}</div>
    </div>
    <div class="band-members band-property">
        <button class="band-members-btn"
            mat-raised-button
            (click)="onBandMembers()">band members</button>
        @for(bandMember of bandMembers;track bandMember.name) {
        <div class="band-member">
            <app-musician [musician]="bandMember"></app-musician>
        </div>
        }

    </div>
    <div class="o-images band-property">
        <button mat-raised-button
            (click)="onOImages()">images</button>
        <div class="images">
            @for(oImage of band?.oImages;track oImage.filename) {
            <img [src]="oImage.imagePath"
                alt="">
            <div class="photgrapher-name">{{oImage.photographerName}}</div>
            }
        </div>
    </div>

    <div class="body-container band-property">
        <button mat-raised-button
            (click)="onBody()">body</button>
        <div class="body"
            [innerHTML]="band?.body"></div>
    </div>

    <div class="links-container band-property">

        <button mat-raised-button
            (click)="onLinks()">links</button>
        <div class="links">
            @for(link of band?.links;track link.url) {
            <div class="title"><span>title:&nbsp;</span>{{link.title}}</div>
            <div class="url"><span>url:&nbsp;</span>{{link.url}}</div>
            }
        </div>
    </div>
    <div class="reviews-container band-property">
        <button mat-raised-button
            (click)="onReviews()">reviews</button>
        <div class="reviews">
            @for(review of band?.reviews; track review.body) {
            <div class="published-by">{{review.publishedBy}}</div>
            <div class="author">{{review.author}}</div>
            <div class="date-published">{{review.datePublised}}</div>
            <div class="body"
                [innerHTML]="review.body"></div>
            <hr>
            }
        </div>
    </div>
    <div class="recordings-container band-property">
        <button mat-raised-button
            (click)="onRecordings()">recordings</button>
        <div class="recordings">
            @for(recording of band?.recordings; track recording.title){
            <div class="title">{{recording.title}}</div>
            <div class="year">{{recording.year}}</div>
            <div class="label">{{recording.label}}</div>
            <hr>
            }
        </div>
    </div>

    <div class="quotes-container band-property">
        <button mat-raised-button
            (click)="onQuotes()">quotes</button>
        <div class="quotes">
            @for(quote of band?.quotes;track quote){
            <div class="quote">
                <div class="published-by">{{quote.publishedBy}}</div>
                <div class="author">{{quote.author}}</div>
                <div class="date-published">{{quote.datePublised}}</div>
                <div class="body"
                    [innerHTML]="quote.body"></div>
            </div>
            <hr>
            }
        </div>
    </div>

    <div class="o-audios-container band-property">
        <button mat-raised-button
            (click)="onOAudio()">audio</button>
        <div class="o-audios">
            @for(oAudio of band?.oAudios;track oAudio){
            <div class="o-audio">
                <div class="published-by">{{oAudio.title}}</div>
                <div class="author">{{oAudio.comments}}</div>
                <div class="date-published">{{oAudio.code}}</div>
                <div class="body"></div>
            </div>
            <hr>
            }
        </div>
    </div>
    <div class="concerts-container band-property">
        <!-- {{band?.concerts|json}} -->
        <button mat-raised-button
            (click)="onConcerts()">concerts</button>
        @if(band?.concerts && band?.concerts?.length> 0 ) {
        <div class="concerts">
            @for(concert of band?.concerts;track concert){
            <div class="concert">
                <div class="left">
                    <div class="date_venue-name">
                        <div class="date">{{concert?.date.seconds*1000|date}}</div>
                        <div class="venue-name">{{concert?.venueName}}</div>
                    </div>
                    <div class="city_country">
                        <div class="city">{{concert?.city}}</div>
                        <div class="country">{{concert?.country}}</div>
                    </div>
                </div>
                <div class="visible">
                    @if(concert?.visible) {
                    <mat-icon>visibility</mat-icon>
                    } @else {
                    <mat-icon>visibility_off</mat-icon>
                    }
                </div>
            </div>
            <hr>
            }
        </div>
        }
    </div>
    <div class="tour-periods-container band-property">
        <button mat-raised-button
            (click)="onTourPeriods()">tour periods</button>
        @for(period of band?.tourPeriods; track period) {
        <div class="period">
            <div class="dates">
                <div class="start-date">{{period.startDate.seconds*1000|date}}</div>
                <div class="end-date">{{period.endDate.seconds*1000|date}}</div>
            </div>
            @if(period.visible) {
            <mat-icon>visibility</mat-icon>
            } @else {
            <mat-icon>visibility_off</mat-icon>
            }
        </div>
        }
    </div>

    <button class="cancel"
        mat-raised-button
        (click)="onCancel()">cancel (back to bands)</button>


</main>
