.visitor-component-container {
    .article {
        .article-date {
        }
        .article-header {
            text-transform: uppercase;
            font-size: 1.3rem;
        }
        .article-body {
        }
        .o-image {
            position: relative;
            img {
                width: 100%;
            }
            .photographer-name {
                position: absolute;
                right: 10px;
                bottom: 10px;
            }
        }
    }
}
