<div class="visitor-component-container">

    <div class="article">
        @if(uiStore.article() && uiStore.article().date) {
        <div class="article-date">
            {{uiStore.article().date.seconds*1000|date}}
        </div>
        }
        @if(uiStore.article() !==null) {
        <div class="article-header">{{uiStore.article().header}}</div>
        }
        @if(uiStore.article() && uiStore.article().body) {
        <div class="article-body"
            [innerHTML]="uiStore.article().body">

        </div>
        }

        @if(uiStore.article()) {
        <div class="bandmembers">
            @for(bandmember of uiStore.article().bandmembers; track bandmember) {
            <div class="bandmember">
                <div class="name">{{bandmember.name}}</div>
                <div class="instruments">
                    @for(instrument of bandmember.instruments;track istrument){
                    <div class="instrument">{{instrument}}</div>
                    }
                </div>
            </div>
            }
        </div>
        }
        @if(uiStore.article() && uiStore.article().oImage){
        <div class="o-image">
            <img [src]="uiStore.article().oImage.imagePath"
                alt="">
            <div class="photographer-name">&copy;{{uiStore.article().oImage.photographerName}}</div>
        </div>
        }

        @if(uiStore.article() && uiStore.article().links){
        <div class="links">
            <div class="header">links</div>
            @for(link of uiStore.article().links ;track link){
            <div class="link">
                <a [href]="link.url">{{link.title}}</a>
            </div>
            }
        </div>
        }


    </div>
</div>
