mat-expansion-panel {
    background-color: var(--o-crimson);

    mat-expansion-panel-header {
        text-transform: uppercase;
    }
    .recording {
        background-color: var(--o-gravel);
        padding: 0.2rem 0.5rem;
        margin-bottom: 0.2rem;
        .title {
            font-weight: bold;
        }
    }
}
