<div class="news-section">
    <div class="news-section-header">{{header}}</div>

    @if(article && !article.oImage){
    <app-add-image (filePathChanged)="filePathChanged($event)"
        [pathToFolder]="pathToFolder"></app-add-image>
    }

    @if(article?.oImage) {
    <div class="image-container">

        <img [src]="article.oImage.imagePath"
            alt="">
        @if(article.oImage.photographerName){
        <div class="photographer-name">
            &copy;{{article.oImage.photographerName}}
        </div>
        }
    </div>
    }

    @if(article?.oImage){
    <form class="form"
        [formGroup]="form">
        <mat-form-field>
            <mat-label>photographer name</mat-label>
            <input type="text"
                matInput
                formControlName="photographerName">
        </mat-form-field>
        <button mat-button
            (click)="onUpdatePhotographerName()">update name</button>
    </form>
    }

    @if(article?.oImage){
    <button mat-raised-button
        (click)="onRemoveImage(article.oImage.filename)">remove image</button>
    }
</div>
