.news-section {
    .image-container {
        position: relative;
        img {
            margin-top: 1rem;
            width: 100%;
        }
        .photographer-name {
            background-color: var(--o-crimson);
            color: var(--o-snow);
            position: absolute;
            right: 5px;
            bottom: 10px;
            padding: 0.2rem;
        }
    }
    .form {
        display: grid;
        grid-template-columns: 3fr 1fr;

        gap: 1rem;
        mat-form-field {
        }
        button {
            margin-top: 10px;
            background-color: var(--o-snow);
        }
    }
}
