<main>

    <div class="anouncements">
        @for(anouncement of anouncements;track anouncement.id) {
        <div class="anouncement">
            <div class="left">
                <div class="seq-nr">
                    {{anouncement.seqNr}}
                </div>
                <div class="posted-on_header">

                    <div class="posted-on">
                        {{anouncement.postedOn.seconds*1000|date}}
                    </div>
                    <div class="header">
                        {{anouncement.header}}
                    </div>
                </div>

            </div>
            <div class="right">

                <div class="visible">
                    @if(anouncement.visible) {
                    <mat-icon>visibility</mat-icon>
                    }
                    @if(!anouncement.visible){
                    <mat-icon>visibility_off</mat-icon>
                    }

                </div>

                <button mat-mini-fab
                    (click)="onEdit(anouncement.id)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-mini-fab
                    (click)="onDelete(anouncement.id)">
                    <mat-icon>delete</mat-icon>
                </button>

            </div>
        </div>
        }
    </div>
    <button class="add-anouncement"
        mat-raised-button
        (click)="onAddAnouncement()">add anouncement</button>
</main>
