.consumption-type-header {
    text-transform: uppercase;
    background-color: var(--eb-orange);
    color: var(--eb-blue);
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-weight: bold;
}
