:root {
    --o-gray: lightgray;
    --o-black: black;

    --o-gray: gray;

    --o-gravel: #0477bf;

    --o-crimson: #ed1c24;

    --snow: #f9f8f8;
    --o-form-background: pink;

    --o-coal: #000000;
    // --o-crimson: #680000;

    --o-gravel: #808080;
    --o-snow: #ffffff;
}
