:root {
    --o-gray: lightgray;
    --o-black: black;

    --o-gray: gray;
    --o-lightgray: #ededed;

    --o-purple: #6a0572;
    --o-blue: #0477bf;
    --o-red: #d72638;
    --o-orange: #f4a261;
    --o-white: #f9f8f8;
    --o-form-background: pink;
}
