main {
    background-color: var(--o-orange);
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    form {
        width: 100%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
    }
}
