<main>
    <div class="events">

    </div>
    <form [formGroup]="userForm">
        <mat-form-field>
            <mat-label>band-name</mat-label>
            <input matInput
                type="text"
                formControlName="bandName" />
        </mat-form-field>

        <div formArrayName="events">
            @for(event of events.controls; track event; let i = $index) {
            <div [formGroupName]="i">
                <div class="date_venue">
                    <mat-form-field>
                        <mat-label>Choose a date</mat-label>
                        <input matInput
                            formControlName="date"
                            [matDatepicker]="picker">
                        <mat-datepicker-toggle matIconSuffix
                            [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>venue</mat-label>
                        <input matInput
                            type="text"
                            formControlName="venue" />
                    </mat-form-field>
                </div>
                <mat-form-field>
                    <mat-label>url</mat-label>
                    <input matInput
                        type="text"
                        formControlName="url">
                </mat-form-field>
                <div class="city_country">
                    <mat-form-field>
                        <mat-label>city</mat-label>
                        <input matInput
                            type="text"
                            formControlName="city" />
                    </mat-form-field>
                    <mat-form-field>

                        <mat-label>Country:</mat-label>
                        <input matInput
                            type="text"
                            formControlName="country" />
                    </mat-form-field>
                </div>

                <button type="button"
                    mat-icon-button
                    (click)="removeEvent(i)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
            }
        </div>

        <button type="button"
            mat-raised-button
            (click)="addEvent()">add event</button>

        <button type="button"
            mat-raised-button
            (click)="onAddEventsGroup()">add events group</button>
    </form>
</main>


<!-- <main>
    <div class="upcoming-events-groups">

    </div>
    <form [formGroup]="form">
        <mat-form-field>
            <mat-label>band name</mat-label>
            <input type="text"
                matInput
                formControlName="bandName">
        </mat-form-field>
        <div class="upcoming-events"
            formArrayName="upcomingEvents">
            @for(instrumentsControl of form.get('upcomingEvents')?.controls;track instrumentsControl; let i = $index) {
            <div class="upcoming-event">
                <mat-form-field>
                    <mat-label>upcoming event</mat-label>
                    <input type="text"
                        matInput
                        [formControlName]="i">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>city</mat-label>
                    <input type="text"
                        matInput
                        [formControlName]="i">
                </mat-form-field>
                <mat-icon (click)="onRemoveUpcomingEvent(i)">delete</mat-icon>
            </div>

            }

        </div>
        <div class="buttons">
            <button color="warn"
                mat-raised-button
                type="button"
                (click)="onAddUpcomingEvent()">add upcoming event
            </button>
        </div>
    </form>
    <button mat-raised-button
        [disabled]="form.invalid"
        (click)="onAddUpcomingEventGroup()">{{!editmode ? 'add musician': 'update musician'}}</button>
</main> -->
