<main>
    <form [formGroup]="musiciansForm">
        <mat-form-field>
            <mat-label>name</mat-label>
            <input type="text"
                matInput
                formControlName="name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>context</mat-label>
            <input type="text"
                matInput
                formControlName="context">
        </mat-form-field>
        <div class="instruments"
            formArrayName="instruments">
            @for(instrumentsControl of musiciansForm.get('instruments')?.controls;track instrumentsControl; let i = $index) {
            <div class="instrument">
                <mat-form-field>
                    <mat-label>instrument</mat-label>
                    <input type="text"
                        matInput
                        [formControlName]="i">
                </mat-form-field>
                <mat-icon (click)="onRemoveInstrument(i)">delete</mat-icon>
            </div>

            }
            <button color="warn"
                mat-raised-button
                class="add-instrument-btn"
                type="button"
                (click)="onAddInstrument()">add instrument
            </button>
        </div>
    </form>
    <div class="buttons">
        <button mat-raised-button
            color="primary"
            (click)="onClearForm()">clear form</button>

        <button mat-raised-button
            [disabled]="musiciansForm.invalid"
            (click)="onAddOrUpdateMusician()">{{!editmode ? 'add musician': 'update musician'}}</button>
        <button mat-raised-button
            (click)="onCancel()">cancel</button>
    </div>
</main>
