<div class="list-container">


    @if(showBands|| uiStore.showHidden()) {
    <ul class="bands">
        @for(band of bands; track band.id; let index = $index) {
        @if(band.visible){
        <li class="band"
            [ngClass]="{'selected-list-item': index === selectedBandIndex && !uiStore.showNews()}"
            (click)="onBand(band.id, index, band.name)">
            <div class="icon-container">
                <mat-icon>info</mat-icon>
            </div>

            <div class="name">
                {{band.name}}
            </div>
        </li>
        }
        }
    </ul>
    }
</div>
