<mat-toolbar>

    <ul class="left">
        <li class="list-item-menu">
            <mat-icon (click)="onToggleSidenav()">menu</mat-icon>
        </li>

    </ul>
    <div class="visitor-menu">
        <div class="version">13</div>
        <button mat-icon-button
            (click)="goToPreviousPage()">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button mat-icon-button
            (click)="goToNextPage()">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>

        <button mat-icon-button
            routerLinkActive="link-active"
            routerLink="home">
            <mat-icon>home</mat-icon>
        </button>

        <app-visitor-bands-menu></app-visitor-bands-menu>








    </div>
    <div class="admin-menu">
        @if(authStore.isLoggedIn()) {
        <div class="admin-menu-items">
            @for(menuItem of adminMenuItems; track menuItem) {
            <div class="menu-item"><a [routerLink]="menuItem">{{menuItem}}</a></div>
            }
        </div>
        }
        @if(authStore.isLoggedIn()) {
        <div (click)="onLogout()"
            class="logout">
            <button mat-icon-button>
                <mat-icon>logout</mat-icon>
            </button>
        </div>
        }
        @if(!authStore.isLoggedIn()) {
        <div routerLink="login"
            class="login">
            <button mat-icon-button>

                <mat-icon>login</mat-icon>
            </button>
        </div>
        }



    </div>
</mat-toolbar>
