<mat-toolbar>
    <!-- {{bands$|async}} -->
    <ul class="left">
        <li class="list-item-menu">
            <mat-icon (click)="onToggleSidenav()">menu</mat-icon>
        </li>
        <li routerLink="home"
            class="list-item-home">
            <mat-icon>home</mat-icon>
        </li>
    </ul>
    <div class="right">

        <button mat-button
            [matMenuTriggerFor]="bandsMenu">bands</button>
        <mat-menu #bandsMenu="matMenu">
            @for(band of bands$|async; track band.id){
            @if(band.visible) {

            <button mat-menu-item
                (click)="onBandSelected(band.id)">{{band.name}}</button>
            }
            }
        </mat-menu>

        <button mat-button
            [matMenuTriggerFor]="anouncementsMenu">anouncements</button>
        <mat-menu #anouncementsMenu="matMenu">
            @for(anouncement of anouncements$|async; track anouncement.id){
            @if(anouncement.visible) {

            <button mat-menu-item
                (click)="onAnouncementSelected(anouncement.id)">{{anouncement.header}}</button>
            }
            }
        </mat-menu>

        {{authStore.isLoggedIn()}}
        <ul class="visitor-menu-items">
            @for(menuItem of visitorMenuItems;track menuItem) {
            <li class="menuItem"><a [routerLink]="menuItem">{{menuItem}}</a></li>
            }
        </ul>
        <ul class="admin-menu-items">
            @for(menuItem of adminMenuItems; track menuItem) {
            <li class="menuItem"><a [routerLink]="menuItem">{{menuItem}}</a></li>
            }
        </ul>


        <ul class="login">
            @if(!authStore.isLoggedIn()) {
            <li routerLink="login"
                class="list-item-home">
                <mat-icon>login</mat-icon>
            </li>
            }
            @if(authStore.isLoggedIn()) {
            <li (click)="onLogout()"
                class="list-item-home">
                <mat-icon>logout</mat-icon>
            </li>
            }
        </ul>
    </div>
</mat-toolbar>
