mat-toolbar {
    background-color: var(--o-crimson);
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    .left {
        .list-item-menu {
            display: flex;
            @media (min-width: 900px) {
                display: none;
            }
        }
        .list-item-home {
            display: flex;
            @media (max-width: 899px) {
                display: none;
            }
        }
    }
    .visitor-menu {
        width: 100%;
        max-width: 500px;
        display: flex;
        // gap: 1rem;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        @media (max-width: 899px) {
            display: none;
        }
        button {
            color: var(--snow);
            // border: 1px solid white;
            text-transform: uppercase;
            // color: var(--o-crimson);
        }

        .admin-menu-items {
            display: flex;
            gap: 1rem;
            a {
                color: var(---o-crimson);
            }
        }
        .login {
        }
    }
    .admin-menu {
        border: 3px solid yellow;
        display: flex;
        align-items: center;
        padding: 0 1rem;
        @media (max-width: 1200px) {
            display: none;
        }
        .admin-menu-items {
            display: flex;
            gap: 1rem;
            .menu-item {
                a {
                    text-transform: uppercase;
                    font-size: 0.9rem;
                    color: yellow;
                }
            }
        }
        .logout,
        .login {
            button {
                mat-icon {
                    color: yellow;
                }
            }
        }
    }
}
.link-active {
    color: white;
}
