main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    .o-images {
        .o-image {
            border: 1px solid var(--o-black);
            padding: 1rem;
            img {
                width: 100%;
            }
            .bottom {
                display: flex;
                justify-content: space-between;
                .buttons {
                    display: flex;
                    gap: 1rem;
                }
                .photographer {
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    .photographerName {
                    }
                }
            }
        }
    }
    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .buttons {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            button {
                border: 3px solid var(--o-red);
            }
        }
    }
}
