.custom-toolbar {
    // background-color: var(--o-black);
    // color: white;
    border-bottom: 3px solid var(--o-red);
    .sub-menu-items {
        width: 100%;
        max-width: 400px;
        border: 3px solid green;
        display: flex;
        justify-content: space-around;
    }
}
main {
    padding: 1rem;
    .band {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;

        .name {
            font-size: 2rem;
            font-weight: bold;
            color: var(--o-red);
            text-transform: capitalize;
        }
        .musicians_images {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            @media (max-width: 600px) {
                display: flex;
                flex-direction: column;
            }
            .images {
                // margin-right: 1rem;
                .image {
                    // border: 1px solid red;
                    img {
                        width: 100%;
                    }
                }
                .photographer-name {
                    display: flex;
                    justify-content: end;
                }
            }

            .musicians {
                .musician {
                    display: flex;
                    gap: 1rem;
                    justify-content: start;
                    .musician-name {
                        font-weight: bold;
                        text-transform: capitalize;
                    }
                    .instruments {
                        font-style: italic;
                        display: flex;
                        gap: 1rem;
                    }
                }
            }
        }
        .body {
            padding: 0.5rem;
            background-color: var(--o-lightgray);
        }
        .reviews {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            .review {
                padding: 0.5rem;
                background-color: var(--o-lightgray);
                .review-body {
                    font-style: italic;
                }
            }
        }
        .recordings {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .recording {
                // border: 1px solid var(--o-black);
                padding: 0.5rem;
                background-color: var(--o-lightgray);

                display: flex;
                gap: 1rem;
                .year {
                }
                .title_label {
                    .title {
                        font-weight: 600;
                    }

                    .label {
                        font-style: italic;
                        // border: 1px solid green;
                        align-items: end;
                    }
                }
            }
        }
    }
}
.header {
    font-weight: bold;
    text-transform: capitalize;
}
