<main>
    <div #top></div>
    <div class="band">
        <div class="name no-display-small">{{uiStore.bandname()}}</div>

        @if(uiStore.oImages() && uiStore.oImages().length > 0) {
        <app-visitor-band-o-images></app-visitor-band-o-images>
        }
        @if(uiStore.bandmembers() && uiStore.bandmembers().length > 0) {
        <app-visitor-band-bandmembers></app-visitor-band-bandmembers>
        }
        @if(uiStore.bandBody() && uiStore.bandBody() !== '') {
        <app-visitor-band-body></app-visitor-band-body>
        }

        @if(uiStore.bandOAudios() && uiStore.bandOAudios().length > 0) {
        <app-visitor-band-audio-video></app-visitor-band-audio-video>
        }

        @if(uiStore.bandLinks() && uiStore.bandLinks().length > 0) {
        <app-visitor-band-links></app-visitor-band-links>
        }

        @if(uiStore.upcomingConcerts().length > 0) {
        <app-visitor-band-concerts></app-visitor-band-concerts>
        }

        @if(uiStore.bandTourPeriods() && uiStore.bandTourPeriods()?.length > 0) {
        <app-visitor-band-tour-periods></app-visitor-band-tour-periods>
        }
    </div>

</main>
