<main>
    <app-logo></app-logo>
    <div class="name no-display-large">{{band?.name}}</div>
    <div class="band">
        <div class="name no-display-small">{{band?.name}}</div>

        @if(band?.oImages && band?.oImages.length > 0) {
        <app-visitor-band-o-images [oImages]="band.oImages"></app-visitor-band-o-images>
        }

        @if(bandMembers && bandMembers.length > 0) {
        <app-visitor-band-bandmembers [bandMembers]="bandMembers"></app-visitor-band-bandmembers>
        }



        @if(band?.body && band?.body !== '') {
        <app-visitor-band-body [body]="band.body"></app-visitor-band-body>


        }

        @if(band?.quotes && band.quotes.length > 0) {
        <app-visitor-band-quotes [quotes]="band.quotes"></app-visitor-band-quotes>
        }

        @if(band?.concerts && band?.concerts.length > 0) {
        <app-visitor-band-concerts [band]="band"></app-visitor-band-concerts>
        }

        @if(band?.reviews && band.reviews.length > 0){
        <app-visitor-band-reviews [reviews]="band.reviews"></app-visitor-band-reviews>
        }

        @if(band?.oAudios && band.oAudios.length > 0) {
        <app-visitor-band-audio-video [oAudios]="band.oAudios"></app-visitor-band-audio-video>
        }

        @if(band?.links && band.links.length > 0) {
        <app-visitor-band-links [links]="band.links"></app-visitor-band-links>
        }

        @if(band?.recordings && band.recordings.length > 0) {
        <app-visitor-band-recordings [recordings]="band.recordings"></app-visitor-band-recordings>
        }

        @if(band?.tourPeriods && band.tourPeriods?.length > 0) {
        <app-visitor-band-tour-periods [tourPeriods]="band.tourPeriods"></app-visitor-band-tour-periods>
        }
    </div>
    <div class="right">
        <app-visitor-bands-overview></app-visitor-bands-overview>
        <app-visitor-tour-periods></app-visitor-tour-periods>
        <app-visitor-events></app-visitor-events>
    </div>
</main>
