// .custom-toolbar {
//     // background-color: var(--o-black);
//     // color: white;
//     border-bottom: 3px solid var(--o-red);
//     .sub-menu-items {
//         width: 100%;
//         max-width: 800px;
//         border: 3px solid green;
//         display: flex;
//         justify-content: space-around;
//     }
// }
main {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    @media (max-width: 1200px) {
        grid-template-columns: auto;
    }
    app-logo {
        grid-column: 1/-1;
        max-width: 1200px;
    }
    .name {
        grid-column: 1/-1;
        font-size: 2rem;
        font-weight: bold;
        color: var(--o-coal);
        background-color: (var(--o-crimson));
        padding: 0.2rem 0.5rem;
        text-transform: uppercase;
        justify-self: start;
    }
    .band {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;

        .body {
            padding: 0.5rem;
            background-color: var(--o-gravel);
            @media (min-width: 600px) {
                padding: 1rem 2rem;
            }
        }
    }
    .right {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}
.no-display-large {
    @media (max-width: 1200px) {
        display: none;
    }
}
.no-display-small {
    @media (min-width: 1201px) {
        display: none;
    }
}
