mat-sidenav-container {
    height: 100%;
    mat-sidenav {
        background-color: var(--o-purple);
        color: var(--o-orange);
        padding: 1rem;
        width: 100%;
        max-width: 300px;
    }
    mat-sidenav-content {
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "header"
            "main"
            "footer";
        height: 100%;
        .header-container {
            grid-area: header;
        }
        main {
            width: 100%;
            overflow: auto;
            grid-area: main;
            margin-right: auto;
            margin-left: auto;
            background-color: var(--o-blue);
            .router-container {
                // padding: 1rem;
            }
        }
        app-footer {
            grid-area: footer;
            background-color: var(--o-purple);
        }
    }
}
