<div class="o-images">
    @for(oImage of oImages;track oImage.imagePath; let index = $index) {
    <div class="o-image">
        <img [src]="oImage.imagePath"
            alt="">
        <div class="photographer-name">
            <div class="name">{{oImage.photographerName}}</div>
            <div class="edit-btn"
                mat-icon-button
                (click)="onEditOImage(index)">
                <mat-icon>edit</mat-icon>
            </div>
        </div>
    </div>
    }
    <app-add-image (filePathChanged)="filePathReady($event)"
        [path]="path"></app-add-image>
    <div class="image">
        <img [src]="filePath"
            alt="">
    </div>
</div>
