<main>
    <app-articles-list></app-articles-list>


    <div class="editors">
        <div class="editors-left">

            <button mat-raised-button
                color="primary"
                (click)="onClearForms()">clear forms (stop editmode)</button>
            <app-news-primary (resetForm)="onClearForms()"
                [header]="'header'"></app-news-primary>
            <!-- @if(newsStore.activeArticle()) { -->
            @if(editmode) {
            <app-news-visible [header]="'visible'"></app-news-visible>
            <app-news-date [header]="'date'"></app-news-date>
            <!-- } -->
            }
        </div>
        @if(editmode){

        <div class="editors-right">
            <app-news-body></app-news-body>
            <!-- <app-news-bandmembers [header]="'bandmembers'"></app-news-bandmembers> -->
            <app-news-images [oImage]="article?.oImage"></app-news-images>
            <!-- <app-news-links [header]="'links'"></app-news-links> -->
            <!-- <app-news-quotes [header]="'quotes'"></app-news-quotes>
                    <app-news-tour-periods [header]="'tour-periods'"></app-news-tour-periods> -->
        </div>
        }
        <!-- @if(newsStore.activeArticle()){ -->
        <!-- } -->
    </div>
</main>
