.concerts-accordion {
    mat-expansion-panel {
        background-color: var(--o-crimson);
        mat-expansion-panel-header {
            text-transform: uppercase;
        }
        .concerts {
            display: flex;
            flex-direction: column;
            gap: 0.2rem;
            .concert {
                background-color: var(--o-gravel);
                padding: 0.2rem 0.5rem;
                .date {
                    font-weight: bold;
                }
                .location {
                    display: flex;
                    gap: 1rem;
                }
            }
        }
    }
}
