.concerts-accordion {
    mat-expansion-panel {
        background-color: var(--o-crimson);
        mat-expansion-panel-header {
            text-transform: uppercase;
        }

        .mat-tab-label {
            color: white !important;
        }

        .mat-tab-label-active {
            color: yellow !important;
        }

        .mat-ink-bar {
            background-color: red !important;
        }
    }
}
