<mat-accordion class="concerts-accordion">
    <mat-expansion-panel #panel>
        <mat-expansion-panel-header>

            <mat-panel-title>concerts</mat-panel-title>

        </mat-expansion-panel-header>
        <mat-tab-group [selectedIndex]="1">
            <mat-tab label="past">
                <app-visitor-band-concerts-past></app-visitor-band-concerts-past>
            </mat-tab>

            <mat-tab label="upcoming">
                <app-visitor-band-concerts-upcoming></app-visitor-band-concerts-upcoming>
            </mat-tab>
        </mat-tab-group>
    </mat-expansion-panel>
</mat-accordion>
