<main>
    <div class="quotes">
        @for(quote of quotes; track quote.body; let index = $index) {
        <div class="quote">
            @if(quote.publishedBy){
            <div class="published-by"><span>platform:&nbsp;</span>{{quote.publishedBy}}</div>
            }
            @if(quote.datePublished){
            <div class="date-published">{{quote.datePublished.seconds*1000|date}}</div>
            }
            @if(quote.author){
            <div class="author"><span>author:&nbsp;</span>{{quote.author}}</div>
            }
            @if(quote.body) {
            <div class="body"
                [innerHTML]="quote.body"></div>
            }
            <div class="buttons">
                @if(quote.visible) {
                <mat-icon>visibility</mat-icon>
                }
                @if(!quote.visible){
                <mat-icon>visibility_off</mat-icon>
                }
                <div class="right">
                    <button class="edit"
                        mat-icon-button
                        (click)="onEdit(index)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button class="delete"
                        mat-icon-button
                        (click)="onDelete(index)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        }
    </div>
    <div class="center">
        <app-quill-text-editor (htmlChanged)="htmlChanged($event)"
            [initialHtml]="body"></app-quill-text-editor>
        <div class="quotes"></div>
    </div>
    <form [formGroup]="quoteForm">
        <mat-form-field>
            <mat-label>published by</mat-label>
            <input type="text"
                matInput
                formControlName="publishedBy">

        </mat-form-field>
        <mat-form-field>
            <mat-label>date published</mat-label>
            <input matInput
                [matDatepicker]="picker"
                formControlName="datePublished">
            <mat-datepicker-toggle matIconSuffix
                [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>author</mat-label>
            <input type="text"
                matInput
                formControlName="author">
        </mat-form-field>



        <mat-checkbox class="visible"
            formControlName="visible">visible</mat-checkbox>

        <div class="form-buttons">
            <button mat-raised-button
                class="add-of-update"
                (click)="onAddOrUpdateQuote()">{{!editmode ? 'add':'update'}}&nbsp;quote</button>
            <button class="cancel"
                mat-raised-button
                (click)="onCancel()">cancel (back to bands)</button>
        </div>
    </form>
</main>
