.news-section {
    .links {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        .link {
            align-items: center;
            display: flex;
            background-color: var(--o-snow);
            padding: 0.3rem 0.5rem;
            .link-title {
                flex-grow: 1;
            }
        }
    }
}
