.musician {
    padding: 0.5rem;

    display: flex;
    gap: 1rem;
    justify-content: space-between;
    .left {
        .name {
            font-weight: bold;
        }
        .instruments {
            .instrument {
                font-style: italic;
            }
        }
    }
    button {
    }
}
