<main>
    <div class="concerts">
        @for(concert of concerts;track concert; let index = $index) {
        <div class="concert">
            <div class="visible">
                <!-- <app-visibility-eyes [visible]=""></app-visibility-eyes> -->
                @if(concert.visible) {
                <mat-icon>visibility</mat-icon>
                } @else {
                <mat-icon>visibility_off</mat-icon>
                }
            </div>
            @if(concert.date) {

            <div class="date">{{concert.date.seconds*1000|date}}</div>
            } @else {
            <div class="not-provided">
                -
            </div>
            }
            <div class="venue-name">{{concert.venueName}}</div>


            @if(concert.city){
            <div class="city">{{concert.city}}</div>
            } @else {
            <div class="not-provided">-</div>
            }
            @if(concert.country) {
            <div class="country">{{concert.country}}</div>
            } @else {
            <div class="not-provided">-</div>
            }



            <div class="buttons">
                <button mat-icon-button
                    (click)="onEdit(index)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button
                    (click)="onDelete(index)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
        }
    </div>
    <form [formGroup]="concertForm">
        <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input matInput
                formControlName="date"
                [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix
                [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>venue name</mat-label>
            <input type="text"
                matInput
                formControlName="venueName">
        </mat-form-field>
        <mat-form-field>
            <mat-label>venue url</mat-label>
            <input type="text"
                matInput
                formControlName="venueUrl">
        </mat-form-field>
        <mat-form-field>
            <mat-label>city</mat-label>
            <input type="text"
                matInput
                formControlName="city">
        </mat-form-field>
        <mat-form-field>
            <mat-label>country</mat-label>
            <input type="text"
                matInput
                formControlName="country">
        </mat-form-field>
        <mat-checkbox formControlName="visible">visible</mat-checkbox>
        <div class="buttons">
            <button class="button"
                mat-raised-button
                [disabled]="concertForm.invalid"
                (click)="onAddOrUpdateConcert()">{{!editmode ? 'add': 'update'}}&nbsp;concert</button>
            <button mat-raised-button
                (click)="onCancel()">cancel (back to band)</button>
        </div>

    </form>
</main>
