:host {
    main {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 3rem auto;
        max-width: 450px;

        background-color: var(--o-crimson);
        color: var(--o-snow);
        padding: 1rem;
        .header {
            font-size: 1.3rem;
            font-weight: bold;
        }
        .contact {
            // border: 8px solid purple;
            // grid-row: 2/3;
            @media (max-width: 450px) {
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }
            @media (min-width: 450px) {
                display: flex;
                flex-direction: row;
                gap: 1rem;
                justify-content: space-between;
            }
            .contact-info {
                display: flex;
                flex-direction: column;
                gap: 0.2rem;
                justify-content: space-between;
                padding: 1rem 0;
                // border: 1px solid yellow;
                // display: inline-block;
                // padding: 1rem;
                .name {
                }
                .address {
                    display: flex;
                    gap: 0.5rem;
                }
                .email {
                    a {
                        color: var(--o-snow);
                    }
                }

                .phone {
                }
                .skype {
                }
            }
            .img-container {
                // border: 3px solid lightgreen;
                img {
                }
            }
        }
    }
}
