<main>
    <div class="header">Contact</div>
    <div class="contact">
        <div class="contact-info">
            <div class="name">Danielle Oosterop</div>
            <div class="address">
                <div class="city">Amsterdam</div>
                <div class="country">The Netherlands</div>
            </div>
            <div class="email"><a class=""
                    href="mailto:danielle@oosterop.com">danielle&#64;oosterop.com</a></div>
            <div class="phone">+31 6 2662 0845</div>
            <div class="skype">skype: dmoosterop</div>
        </div>
        <div class="img-container">
            <img src="images/portrait danielle/daniellebw.jpg"
                alt="">
        </div>
    </div>
</main>
