<div class="visitor-component-container">
    <div class="top">
        <div class="visitor-header">events</div>
        <div class="buttons">
            <button [ngClass]="{'upcomingActive': !seeFutureEvents }"
                (click)="onPeriodSeleceted('past')">past</button>
            <button [ngClass]="{ 'upcomingActive': seeFutureEvents }"
                (click)="onPeriodSeleceted('upcoming')">upcoming</button>
        </div>
    </div>

    @if(upcomingConcerts && upcomingConcerts.length > 0 && seeFutureEvents) {
    <div class="upcoming-concerts">
        @for(concert of upcomingConcerts; track concert) {
        <div class="concert">
            <div class="date_visibility">
                <div class="date">{{concert.date.seconds*1000|date}}</div>
                @if(authStore.isLoggedIn() && uiStore.showHidden()){
                <div class="visibility">
                    @if(concert.visible) {
                    <mat-icon>visibility</mat-icon>
                    } @else {
                    <mat-icon style="color:black">visibility_off</mat-icon>
                    }
                </div>
                }

            </div>
            <div class="band-name">{{concert.bandName}}</div>
            <div class="venue-name">{{concert.venueName}}</div>
            <div class="city">{{concert.city}}</div>
            <div class="country">{{concert.country}}</div>

        </div>
        }
    </div>
    }


    <!-- @if(seeFutureEvents){

    <div class="future-events">
        @for(event of futureCollectedGroupedConcerts;track event) {
        <div class="event">
            <div class="left">

                <div class="band-name">{{event.bandName}}</div>
                <div class="concerts">
                    @for(concert of event.concerts; track concert){
                    @if(concert.visible || uiStore.showHidden()){
                    <div class="concert">
                        <div class="date">{{concert.date.seconds*1000|date}}</div>
                        <div class="venue-name">{{concert.venueName}}</div>
                        <div class="location">
                            <div class="city">{{concert.city}}</div>
                            <div class="country">{{concert.country}}</div>
                        </div>
                        @if(authStore.isLoggedIn() && uiStore.showHidden()){
                        <div class="visibility">
                            @if(concert.visible) {
                            <mat-icon>visibility</mat-icon>
                            } @else {
                            <mat-icon style="color:black">visibility_off</mat-icon>
                            }
                        </div>
                        }
                    </div>
                    }
                    }
                </div>
            </div>
        </div>
        }
    </div>
    } -->
    @if(!seeFutureEvents) {

    <mat-accordion>
        @for(event of pastCollectedGroupedConcerts; track event){

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>{{event.bandName}} </mat-panel-title>

            </mat-expansion-panel-header>
            <div class="concerts">
                @for(concert of event.concerts; track concert){
                @if(concert.visible){
                <div class="concert">
                    <div class="date">{{concert.date.seconds*1000|date}}</div>
                    <div class="venue-name">{{concert.venueName}}</div>
                    <div class="location">
                        <div class="city">{{concert.city}}</div>
                        <div class="country">{{concert.country}}</div>
                    </div>
                </div>
                }
                }
            </div>
        </mat-expansion-panel>
        }

    </mat-accordion>
    }
</div>
