.images {
    // margin-right: 1rem;
    .image {
        position: relative;
        img {
            width: 100%;
        }
        .photographer-name {
            font-size: 0.8rem;
            padding: 3px;
            position: absolute;
            right: 10px;
            bottom: 10px;
            color: var(--o-snow);
            background-color: var(--o-crimson);
        }
    }
}
