<main>

    <div class="table-section">
        <div class="filter-section">
            <mat-form-field>
                <input matInput
                    [(ngModel)]="filterValue"
                    (keyup)="applyFilter($event)"
                    placeholder="filter">

            </mat-form-field>
            <button mat-raised-button
                (click)="onClearFilter()">clear filter</button>
        </div>
        <div class="table-container">

            <table mat-table
                matSort
                [dataSource]="dataSource"
                class="mat-elevation-z8">

                <!-- ID Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell
                        start="asc"
                        *matHeaderCellDef
                        mat-sort-header> name </th>
                    <td mat-cell
                        *matCellDef="let musician"> {{musician.name}}</td>
                </ng-container>
                <ng-container matColumnDef="edit">
                    <th mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header>edit </th>
                    <td mat-cell
                        *matCellDef="let musician">
                        <mat-icon (click)="onEdit(musician)">edit</mat-icon>
                    </td>
                </ng-container>
                <ng-container matColumnDef="context">
                    <th mat-header-cell
                        *matHeaderCellDef> context </th>
                    <td mat-cell
                        *matCellDef="let musician"> {{musician.context}} </td>
                </ng-container>
                <ng-container matColumnDef="instruments">
                    <th mat-header-cell
                        *matHeaderCellDef> instruments </th>
                    <td mat-cell
                        *matCellDef="let musician"> @for(instrument of musician.instruments; track instrument){
                        {{instrument}}, &nbsp;
                        } </td>
                </ng-container>
                <ng-container matColumnDef="checkbox">
                    <th mat-header-cell
                        *matHeaderCellDef
                        mat-sort-header>checkbox </th>
                    <td mat-cell
                        class="checkbox-cell"
                        *matCellDef="let musician">
                        <app-bandmember-checkbox (updatingBandmemberIds)="updatingBandmemberIds()"
                            [musicianId]="musician.id"></app-bandmember-checkbox>

                    </td>
                </ng-container>


                <!-- Header and Row Definition -->
                <tr mat-header-row
                    *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row
                    *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
        </div>
    </div>
    <app-add-musician [musician]="musician"></app-add-musician>
    <div class="right">

        <!-- <button mat-raised-button
            (click)="onConfirmSelection()">confirm selection</button> -->
        <div class="bandmembers">
            <div class="header">current bandmembers:&nbsp;<span class="band-name">{{bandName$|async}}</span></div>
            @if(updatingBandmembers){
            <mat-spinner></mat-spinner>
            } @else {
            @for(bandmember of bandmembers$|async; track bandmember; let index = $index){
            <div class="bandmember">
                <div class="left">
                    <div class="name_context">
                        <div (click)="populateFilter(bandmember.name)"
                            class="name">

                            <mat-icon style="color:red">select_all</mat-icon>
                            {{bandmember.name}}
                        </div>
                        @if(bandmember.context) {
                        <div class="context">{{bandmember.context}}</div>
                        }
                    </div>
                    <div class="instruments">
                        @for(instrument of bandmember.instruments; track instrument){
                        <div class="instrument">{{instrument}}</div>
                        }
                    </div>
                </div>



            </div>
            }
            }
        </div>
    </div>


</main>
