.visitor-component-container {
    grid-area: "middle-right";
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    .band {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        align-items: center;
        .icon_name {
            display: flex;
            gap: 1rem;
            align-items: center;
            mat-icon {
                cursor: pointer;
                // border: 1px solid white;
                min-width: 1.5rem;
            }
            .name {
                text-transform: uppercase;
            }
        }
        .visibility {
        }
    }
}
